
<h2><center> Welcome To General Help!</center> </h2>
<%= link_to "Add New", new_post_path %>

<table>
  <tbody>
<% @posts.each do |post| %>
 <tr>
  <td><%= post.user_name %></td>
  <td><%= post.class_type %></td>
  <td><%= post.level %></td>

  <td><%= post.comment %></td>
  <td><%= link_to 'Edit', edit_post_path(post) %></td>
  <td><%= link_to 'Destroy', post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
</tr>
  <% end %>
</tbody>
</table>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>    
