<div class ="page-header">
<h2><center> Welcome To General Help!</center> </h2>
</div>

<h4>Posts:</h4>


<% @posts.reverse_each do |post| %>
<div class="posts">

</head>

 <stong><%=post.user_name %></strong>
 <stong><%=post.class_type%></strong>
 <stong><%=post.level%></strong>

 <p> <%= post.comment %></p>
 <div class="meta">
   <%= link_to time_ago_in_words(post.created_at) + " ago", post %>
 |<%= link_to 'Edit', edit_post_path(post) %>
 |<%= link_to 'Destroy', post_path(post),
             method: :delete,
             data: { confirm: 'Are you sure?' } %>

             <div class ="page-header">
             <h2><center> </center> </h2>
             </div>



 </div>

<%end%>


<!-- <div class ="page-header">
<h2><center> Welcome To General Help!</center> </h2>
</div>
<%= link_to "Add New", new_post_path %>

<table>
  <tbody>
<% @posts.each do |post| %>
 <tr>

  <td><%= post.user_name %></td>
  <td><%= post.class_type %></td>
  <td><%= post.level %></td>

  <td><%= post.comment %></td>
  <td><%= link_to 'Edit', edit_post_path(post) %></td>
  <td><%= link_to 'Destroy', post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
</tr>
  <% end %>
</tbody>
</table>
<%= link_to('Back', welcome_index_path)  %>
<br>

<%= link_to('Logout', destroy_user_session_path, :method => :delete) %> -->
