<!DOCTYPE html>
<html>
<head>
  <title>GeneralHelp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar">
   <div class="navbar-inner">
        <div class="container">
          <a href="#" class="brand"> General Help </a>
          <ul class="nav">
            <li><%= link_to "Welcome", welcome_index_path %></li>
            <li><%= link_to "Posts", posts_path %></li>
        </div>
      </div>
    </div>
    <div class="container">
<%= yield %>
</div>
</body >
</html>
